<ul>
  {{#each questionList}}
      <li>{{questionContent}}</li>
      {{id}}
      <form action="/api/vote/{{id}}/1" method="POST">
        <button>Yes</button>
      </form>
      <form action="/api/vote/{{id}}/0" method="POST"> 
        <button>No</button>
      </form>
  {{/each}}
</ul>
